* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "League Spartan", sans-serif;
}

/* Navbar */

.navbar {
    background-color: white;
    padding: 15px 0px;
}

.nav-contain {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.nav-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-section2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo2 {
    display: flex;
    flex-direction: column;
}

.nav-logo2 strong {
    font-size: 32px;
    color: #5d52ba;
}

.nav-logo2 small {
    color: #f65129;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.nav-links {
    flex-basis: 800px;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;
    list-style-type: none;
}

.nav-items li a {
    padding: 20px;
    text-decoration: none;
    color: #717275;
}

.nav-links li a:hover {
    color: #f65129;
}

.nav-links li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    min-width: 160px;
    top: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: +111;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-btn {
    display: flex;
    gap: 25px;
    font-size: 20px;
    align-items: center;
}

.nav-reg {
    text-decoration: none;
    color: #717275;
}

.nav-reg:hover {
    color: #f65129;
}

.nav-login {
    background-color: #f65129;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 100px;
    color: white;
    padding: 12px 22px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.nav-login:hover {
    background-color: #0dcaf0;
}

.nav-ham {
    display: none;
    text-align: center;
    cursor: pointer;
}

.nav-ham a {
    color: #717275;
}

@media only screen and (max-width: 768px) {
    .nav-contain {
        max-width: 720px;
    }

    .nav-section {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .nav-section2 {
        gap: 20px;
    }

    .nav-ham {
        display: flex;
    }

    .nav-items {
        flex-wrap: wrap;
        text-align: center;
    }

    .nav-items li {
        max-width: 720px;
        width: 100%;
    }

    .dropdown-content {
        position: static;
        width: 100%;
    }

    .nav-btn {
        flex-direction: column;
        align-items: center;
        max-width: 720px;
        width: 100%;
    }

    .nav-links {
        display: none;
        /* Hide by default on smaller screens */
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-items {
        flex-direction: column;
    }
}

/* @media only screen and (max-width: 449px) {
  
  } */

/* Home */

.home-bg {
    background-image: url(../Images/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 150px 0;
    z-index: 0;
}

.bg-over {
    background: #5d52ba;
    position: absolute;
    opacity: 0.85;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-contain {
    max-width: 1320px;
    margin: 0 auto;
}

.home-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;
}

.home-box1 {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home-box1 h6 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    z-index: 1;
}

.home-box1 h1 {
    color: white;
    font-size: 62px;
    font-weight: 700;
}

.home-box1 a {
    text-decoration: none;
    background: transparent;
    color: #0dcaf0;
    max-width: 170px;
    border: 2px solid #0dcaf0;
    border-radius: 100px;
    padding: 15px 20px;
    margin-bottom: 20px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.home-box1 a:hover {
    background-color: #0dcaf0;
    color: white;
}

.home-box2 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #7f73eb;
    border-radius: 10px;
    gap: 25px;
}

.home-box2 h3 {
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.home-input {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 25px;
}

.home-input1 {
    display: flex;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    border-radius: 100px;
    padding: 12px 12px;
    gap: 10px;
}

.home-input1 input {
    color: #717275;
    border: 2px solid transparent;
    border-radius: 100px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.home-btn {
    background-color: #5d52ba;
    border: none;
    color: white;
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s;
    border-radius: 30px;
}

.home-btn:hover {
    background-color: #0dcaf0;
}

.home-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.home-text span {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.home-text a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s;
}

.home-text a:hover {
    background-color: white;
    color: #5d52ba;
}

@media only screen and (max-width: 768px) {

    .home-box1,
    .home-box2 {
        width: 100%;
    }
}

/* Category */

.cat-bg{
    padding: 150px 0;
}
.cat-contain{
    max-width: 1320px;
    margin: 0 auto;
}
.cat-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cat-text{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding: 20px;
}
.cat-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}
.cat-block1{
    background: #5d52ba;
    border: 8px solid #7f73eb;
    border-radius: 100px;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    margin:0 10px 10px;
}
.cat-block1:hover{
    border-color: #e9eaeb;
}
.cat-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}
.cat-link i{
    font-size: 32px;
}
.cat-link small{
    font-size: 14px;
}
.cat-num{
    background: #0dcaf0;
    border-radius: 100px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}