* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "League Spartan", sans-serif;
}

.contain {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #f65129;
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 15px 20px;
    transition: all 0.5s;
}

.button:hover {
    background-color: #0dcaf0;
}




/* Navbar */

.navbar {
    background-color: white;
    padding: 15px 0px;
}



.nav-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-section2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo2 {
    display: flex;
    flex-direction: column;
}

.nav-logo2 strong {
    font-size: 32px;
    color: #5d52ba;
}

.nav-logo2 small {
    color: #f65129;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.nav-links {
    flex-basis: 800px;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;
    list-style-type: none;
}

.nav-items li a {
    padding: 20px;
    text-decoration: none;
    color: #717275;
}

.nav-links li a:hover {
    color: #f65129;
}

.nav-links li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    min-width: 160px;
    top: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: +111;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-btn {
    display: flex;
    gap: 25px;
    font-size: 20px;
    align-items: center;
}

.nav-reg {
    text-decoration: none;
    color: #717275;
}

.nav-reg:hover {
    color: #f65129;
}

.nav-ham {
    display: none;
    text-align: center;
    cursor: pointer;
}

.nav-ham a {
    color: #717275;
}

@media only screen and (max-width: 768px) {
    .nav-contain {
        max-width: 720px;
    }

    .nav-section {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .nav-section2 {
        gap: 20px;
    }

    .nav-ham {
        display: flex;
    }

    .nav-items {
        flex-wrap: wrap;
        text-align: center;
    }

    .nav-items li {
        max-width: 720px;
        width: 100%;
    }

    .dropdown-content {
        position: static;
        width: 100%;
    }

    .nav-btn {
        flex-direction: column;
        align-items: center;
        max-width: 720px;
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-items {
        flex-direction: column;
    }
}


/* Home */

.home-bg {
    background-image: url(../Images/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 150px 0;
    z-index: 0;
}

.bg-over {
    background: #5d52ba;
    position: absolute;
    opacity: 0.85;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;
}

.home-box1 {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home-box1 h6 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    z-index: 1;
}

.home-box1 h1 {
    color: white;
    font-size: 62px;
    font-weight: 700;
}

.home-box1 a {
    text-decoration: none;
    background: transparent;
    color: #0dcaf0;
    max-width: 170px;
    border: 2px solid #0dcaf0;
    border-radius: 100px;
    padding: 15px 20px;
    margin-bottom: 20px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.home-box1 a:hover {
    background-color: #0dcaf0;
    color: white;
}

.home-box2 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #7f73eb;
    border-radius: 10px;
    gap: 25px;
}

.home-box2 h3 {
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.home-input {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 25px;
}

.home-input1 {
    display: flex;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    border-radius: 100px;
    padding: 12px 12px;
    gap: 10px;
}

.home-input1 input {
    color: #717275;
    border: 2px solid transparent;
    border-radius: 100px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.home-btn {
    background-color: #5d52ba;
    border: none;
    color: white;
    padding: 10px 12px;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.3s;
    border-radius: 30px;
}

.home-btn:hover {
    background-color: #0dcaf0;
}

.home-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.home-text span {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.home-text a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s;
}

.home-text a:hover {
    background-color: white;
    color: #5d52ba;
}

@media only screen and (max-width: 768px) {

    .home-box1,
    .home-box2 {
        width: 100%;
    }
}

/* Category */

.cat-bg {
    padding: 150px 0;
}

.cat-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cat-text {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding: 20px;
}

.cat-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}

.cat-block1 {
    background: #5d52ba;
    border: 8px solid #7f73eb;
    border-radius: 100px;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    position: relative;
    margin: 0 10px 10px;
}

.cat-block1:hover {
    border-color: #e9eaeb;
}

.cat-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.cat-link i {
    font-size: 32px;
}

.cat-link small {
    font-size: 14px;
}

.cat-num {
    background: #0dcaf0;
    border-radius: 100px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

/* About */


.abt-block {
    display: flex;
    gap: 25px;
    margin: 20px;
}

.abt-block1 {
    position: relative;
}

.abt-block1 img {
    border-radius: 30px 0 0 30px;
    object-fit: cover;
    height: 100%;
    max-width: 300px;
}

.abt-info {
    background-color: #5d52ba;
    border-top: 30px solid #0dcaf0;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.abt-info h4 {
    font-size: 32px;
    font-weight: 600;
}

.abt-info p {
    font-size: 20px;
    font-weight: 300;
}

.abt-block2 {
    background-color: #0dcaf0;
    padding: 80px 60px;
    color: white;

}

.abt-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.abt-text1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.abt-text1 h2 {
    font-size: 48px;
    font-weight: 600;
}

.abt-text1 p {
    font-size: 20px;
    font-weight: 300;
}

.abt-text1 p a {
    color: #5d52ba;
    text-decoration: none;
}

.abt-text2 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.abt-btn1 {
    text-decoration: none;
    color: white;
    border: 2px solid #e9eaeb;
    border-radius: 100px;
    padding: 15px 20px;
    transition: all 0.5s;
}

.abt-btn1:hover {
    background-color: white;
    color: #f65129;
}

.abt-btn2 {
    text-decoration: none;
    color: white;
}

.abt-block3 {
    position: relative;
}

.abt-block3 img {
    border-radius: 0 30px 30px 0;
    object-fit: cover;
    max-width: 300px;
    height: 100%;
}

.abt-ig {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media only screen and (max-width: 768px) {

    .abt-block {
        flex-wrap: wrap;
    }

    .abt-block1 img,
    .abt-block3 img {
        max-width: 100%;
    }
}

/* Job Featured */

.jf-bg {
    padding: 100px 0px;
}

.jf-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jf-block1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    text-align: center;
    margin: 10px;
}

.jf-block1 h2 {
    font-size: 48px;
    font-weight: 600;
}

.jf-block1 p {
    color: #717275;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}

.jf-block2 {
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.jf-sec {
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 25px;
    transition: all 0.6s;
}

.jf-sec:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.jf-secbg {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 25px;
    transition: all 0.5s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

}

.jf-sec1 {
    border-radius: 100px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.jf-sec1 img {
    width: 80px;
    padding: 20px;
}

.jf-sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.jf-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.jf-text1 a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: black;
    transition: all 0.3s;
}

.jf-text1 a:hover {
    color: #f65129;
}

.jf-text2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jf-text2 p {
    color: #717275;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    gap: 10px;
    text-align: center;
}

.jf-text2 p i {
    color: #5d52ba;
    padding-right: 5px;
}

.jf-btn {
    display: flex;
    gap: 10px;
}

.jf-btn1 {
    text-decoration: none;
    color: white;
    background-color: #5d52ba;
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 8px 12px 6px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s;
}

.jf-btn2 {
    text-decoration: none;
    color: #5d52ba;
    background-color: #f0f8ff;
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 8px 12px 6px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s;
}

.jf-btn1:hover,
.jf-btn2:hover {
    background-color: #f65129;
    color: white;
}

.shop-page {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px auto;

}

.shop-pageitem {
    font-size: 15px;
    font-weight: 400;
}

.shop-pagelink {
    color: #717275;
    text-decoration: none;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9eaeb;
    border-radius: 100px;
    transition: all 0.3s;
}

.shop-pageactive {
    background-color: #0dcaf0;
    color: white;
}

.shop-pageitem:hover {
    .shop-pagelink {
        background-color: #0dcaf0;
        color: white;
    }
}

/* Bottom */



.bt-block {
    display: flex;
    margin: 20px;
    gap: 30px;

}

.bt-block1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #5d52ba;
    border-radius: 30px 0 0 30px;
    padding: 80px 60px;
}

.bt-head {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bt-head h2 {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.bt-head p {
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.bt-text {
    display: flex;
    gap: 30px;

}

.bt-text1 p {
    color: white;
    font-size: 62px;
    font-weight: 400;
}

.bt-text1 span {
    color: #0dcaf0;

}

.bt-block2 {
    position: relative;
}

.bt-block2 img {
    max-width: 600px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 30px 30px 0;
}

.bt-yt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bt-yt i {
    background-color: #f65129;
    font-size: 48px;
    color: white;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    animation: youtube 2s infinite;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes youtube {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@media only screen and (max-width: 768px) {

    .bt-block {
        flex-wrap: wrap;
    }

    .bt-block2 img {
        max-width: 100%;
    }
}

/* Recent Job Section */

.rj-bg{
    padding: 100px 0;
}
.rj-block{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
}
.rj-block1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 660px;
}
.rj-block1 h2{
    font-size:48px ;
    font-weight: 600;
}
.rj-block1 p{
    color: #717275;
    font-size:20px;
    font-weight: 300;
    line-height: 1.2;
}

.rj-block2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.rj-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #e9eaeb; 
    border-radius:10px ;
    transition: all 0.5s ease;
}
.rj-card:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

}
.rj-box1{
    position: relative;
}
.rj-box1 a img{
    max-width: 400px;
    border-radius: 10px 10px 0 0 ;
}
.rj-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px 25px;
}
.rj-box2{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rj-box2 h4{
    font-size: 32px;
    font-weight: 600;
    color: black;
    transition: all 0.5s;
}
.rj-box2 h4:hover{
    color: #f65129;
}

.rj-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rj-icon1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rj-icon1 p{
    color: #717275;
    font-size: 18px;
    font-weight: 300;
}

.rj-png{
    border-radius: 100px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    height: 50px;
}

.rj-png img {
    width: 80px;
    padding: 20px;
}
.rj-icon2{
    display: flex;
    gap: 10px;
}
.rj-icon2 a{
    color: #5d52ba;
    transition: all 0.5s;
}
.rj-icon2 a:hover{
    color: #f65129;
}
.rj-text {
    justify-content: flex-start;
    gap: 15px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e9eaeb;
}
.rj-block3{
    display: flex;
    justify-content: flex-end;
}
.rj-bigbtn{
    font-size: 24px;
    font-weight: 400;
    padding: 25px 50px;
    margin: 10px;
}
@media only screen and (max-width: 768px) {

    .rj-block3{
        justify-content: flex-start;
    }
}