* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3a4a58;
    color: #8c8c8c;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}


/* header */

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    margin: 20px;
}

.head i {
    font-size: 28px;
}

.head h1 {
    font-weight: 400;
    font-size: 32px;
}

/* main */

.main-bg {
    background-color: white;
}

.main-img {
    background-image: url(img/cafe.jpg);
    background-size: cover;
    background-position: center;
    min-height: 425px;
}

@media only screen and (max-width: 449px) {
    .main-img {
        min-height: 300px;
    }
}

/* Coffee menu */

.sec-padding {
    padding: 20px 20px 30px;
}

.cm-h2 {
    color: #996633;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0px;
}

table {
    width: 100%;
    border-spacing: 0;
}

.tr-bg{
    background-color: #c4cdd6 !important;
    height: 50px;
}

th {
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 0 15px;
}

td {
    padding: 10px 15px;
    text-align: center;
    
}

.td-left {
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #e5e8ed;
}